.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    max-height: 70vh;
    padding-bottom: 5rem;
    overflow-y: auto;
}

.recipe-container::-webkit-scrollbar {
    width: 5px;
}
.recipe-container::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}
.recipe-container::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 25px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    gap: 4rem;
    padding: 2rem 0;
}

.recipe-grid .recipe-card {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 300px;
    padding: 0 1rem 2rem 1rem;
    border-radius: 10px;
    background-color: var(--purple);
    box-shadow: 0px 0px 10px 2px #d9d9d9;
}

.recipe-grid .recipe-card img {
    display: block;
    width: 95%;
    height: 93%;
    margin: auto;
    margin-top: -1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #d9d9d9;
    transition: all 0.3s linear;
}

.recipe-grid .recipe-card:hover {
    margin-top: -1rem;
}

.recipe-grid .recipe-card:hover img {
    filter: brightness(90%);
}

.recipe-grid .recipe-card h5 {
    font-size: 0.35em;
    color: white;
    margin-top: 1rem;
}

.recipe-grid .recipe-card .badge {
    position: absolute;
    top: -5%;
    right: 12%;
    color: white;
    font-size: 0.35em;
    font-weight: 500;
    padding: 0.15rem 1rem;
    border-radius: 25px;
    background-color: var(--yellow);
    filter: contrast(130%) brightness(120%);
}