nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 88%;
    padding: 1.2rem 6rem;
    z-index: 5 !important;
}

nav .logo {
    width: 23%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #d9d9d9;
}


/*? Laptop Navbar */
.laptop-nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.laptop-nav>div:first-child {
    width: 40%;
    display: flex;
    align-items: center;
}

.laptop-nav>div:last-child {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a, nav button {
    position: relative;
    padding: 0.5rem 0;
    font-size: 0.35em;
    font-weight: 700;
    color: var(--purple);
    text-decoration: none;
    transition: all 0.2s ease-in;
    overflow: hidden;
    border: none;
    background-color: transparent;
}

.laptop-nav a:not(.laptop-nav .login-btns button):before {
    position: absolute;
    left: -100%;
    bottom: 0;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--purple);
    border-radius: 25px;
    transition: all 0.3s linear;
}

.laptop-nav a:not(.laptop-nav .login-btns button).active:before {
    left: 0;
}

.laptop-nav a:not(.laptop-nav .login-btns button):hover:before {
    left: 0;
}

nav .login-btns {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

nav .login-btns button {
    font-size: 0.33em;
    color: white;
    background-color: var(--purple);
    padding: 0.4rem 1.2rem;
    border: none;
}

nav .login-btns button:hover {
    background-color: var(--hover-purple);
}

.more-menu-btn {
    position: relative;
    overflow: visible !important;
}
.more-menus a::before {
    display: none;
}
.more-menus {
    position: absolute;
    top: 70%;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #d9d9d9;
    animation: dropMenu 0.5s forwards linear;
    background-color: white;
}
@keyframes dropMenu {
    from {
        top: 70%;
    }
    to {
        top: 100%;
    }
}
.more-menus a {
    padding: 0.5rem 1.5rem !important;
    font-size: 0.85em;
    color: var(--yellow);
    margin: 0 !important;
}
.more-menus a:hover {
    background-color: bisque;
}

/*//! Cart Button */
.laptop-nav .fa-shopping-cart {
    position: relative;
    font-size: 0.35em;
    color: white;
    padding: 0.55rem;
    margin-left: 2rem;
    background-color: var(--purple);
    border-radius: 5px;

}

.laptop-nav i span {
    position: absolute;
    top: 0;
    right: 6%;
    width: 15px;
    height: 15px;
    font-size: 0.6em;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: red;
}






/*? Mobile Navbar */
.mobile-nav {
    display: none;
    width: 85%;
    margin: auto;
    z-index: 1;
}

.mobile-nav>div {
    width: 100% !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav .logo {
    width: 13%;
}

.mobile-nav .mobile-menu {
    padding: 0.5rem;
    font-size: 0.6em;
    color: white;
    border-radius: 5px;
    background-color: var(--purple);
}

.mobile-nav .mobile-menu:hover {
    background-color: var(--hover-purple);
}

.mobile-nav .mobile-menus {
    position: absolute;
    top: 10%;
    right: 5.5%;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #d9d9d9;
}

.more-menus a, .mobile-nav .mobile-menus a {
    padding: 0.5rem;
    border-bottom: 1px solid var(--purple);
    margin: 0.1rem 0;
    border-radius: 3px;
}

.mobile-nav .mobile-menus button {
    padding: 0.5rem;
    font-size: 0.35em;
    font-weight: 700;
    color: var(--purple);
    border: none;
    background-color: transparent;
    text-align: left;
    border-bottom: 1px solid var(--purple);
    margin: 0.1rem 0;
    border-radius: 3px;
}

.mobile-nav .mobile-menus a:hover,
.mobile-nav .mobile-menus button:hover {
    color: white;
    background-color: var(--hover-purple);
}




@media (max-width: 1300px) {
    nav>div:last-child {
        width: 55% !important;
    }
}

@media (max-width: 900px) {
    nav>div:last-child {
        width: 100% !important;
    }

    .laptop-nav {
        display: none;
    }

    .mobile-nav {
        display: block;
    }
}

@media (max-width: 500px) {
    nav .logo {
        width: 20% !important;
    }

    .mobile-nav .mobile-menus {
        right: 9%;
        width: 150px;
    }
}