header {
    position: relative;
    width: 100%;
    height: 46vw;
}


.wave {
    position: absolute;
    top: -8%;
    left: 0;
    width: 80%;
}

.wave .circle {
    position: absolute;
    top: -10%;
    left: -27%;
    width: 50vw;
    height: 50vw;
    background-color: var(--purple);
    border-radius: 50%;
}

.wave img {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 35vw;
    height: 35vw;
    border: 1px solid var(--purple);
    border-radius: 50%;
    z-index: 1;
}



/*? Header Container */
header .hero-container {
    width: 40%;
    color: white;
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 1rem 2rem;
    border-radius: 20px;
    transform: translate(0, -50%);
    text-align: center;
}

header .hero-container h1 {
    font-size: 1em;
    line-height: 1.7;
    color: var(--purple);
}

header .hero-container h2 {
    font-size: 0.65em;
    line-height: 1;
    color: var(--yellow);
}

header .hero-container .search-input {
    margin-top: 3rem;
    position: relative;
    width: 100%;
    line-height: 0;
}

header .search-input input[type="text"] {
    font-size: 0.35em;
    width: 98%;
    padding: 2% 0 2% 2%;
    border: none;
    outline: 3px solid #d9d9d9;
    background-color: white;
    border-radius: 10px;
}

header .search-input input[type="submit"] {
    cursor: pointer;
    font-size: 0.35em;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: -1%;
    transform: translate(0, -50%);
    padding: 2% 5%;
    border: 3px solid var(--purple);
    color: white;
    background-color: var(--purple);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header .search-input input[type="submit"]:hover {
    border: 3px solid var(--hover-purple);
    background-color: var(--hover-purple);
}

header .hero-container button {
    margin-top: 3rem;
    font-size: 0.35em;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    padding: 0.8rem 2.5em;
    transition: all 0.3s ease;
    color: white;
    background-color: var(--yellow);
}

header .hero-container button:hover {
    color: white;
    background-color: var(--hover-yellow);
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .wave {
        top: -6%;
    }

    .wave .circle {
        top: -8%;
    }

    .wave img {
        top: 70%;
    }

    header .hero-container .search-input {
        margin-top: 2rem;
    }

    header .hero-container button {
        margin-top: 2rem;
    }

    header .search-input input[type="text"] {
        border-radius: 7px;
        outline: 2px solid #d9d9d9;
    }

    header .search-input input[type="submit"] {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: 2px solid var(--purple);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    header .hero-container .search-input {
        margin-top: 1.5rem;
    }

    header .hero-container button {
        margin-top: 1.5rem;
    }

    header .search-input input[type="text"] {
        border-radius: 5px;
    }

    header .search-input input[type="submit"] {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 420px) {}


@media only screen and (max-width: 360px) {
    body {
        font-size: 10px;
    }
}