header {
    position: relative;
    width: 100%;
    height: 46vw;
}

.wave {
    position: absolute;
    top: -8%;
    left: 0;
    width: 80%;
}

.wave .circle {
    position: absolute;
    top: -10%;
    left: -27%;
    width: 50vw;
    height: 50vw;
    background-color: var(--purple);
    border-radius: 50%;
}

.wave img {
    position: absolute;
    top: 55%;
    left: 5%;
    width: 35vw;
    height: 35vw;
    border: 1px solid var(--purple);
    border-radius: 50%;
    z-index: 1;
}



/*? Header Container */
header .hero-container {
    width: 40%;
    color: white;
    position: absolute;
    top: 50%;
    right: 10%;
    padding: 1rem 2rem;
    border-radius: 20px;
    transform: translate(0, -50%);
    text-align: center;
}

header .hero-container h1 {
    font-size: 1em;
    line-height: 1.7;
    color: var(--purple);
}

header .hero-container h2 {
    font-size: 0.65em;
    line-height: 1;
    color: var(--yellow);
}

header .hero-container .search-box {
    margin-top: 3rem;
    position: relative;
    width: 100%;
    line-height: 0;
}

header .search-box input[type="text"] {
    font-size: 0.35em;
    width: 98%;
    padding: 2% 0 2% 2%;
    border: none;
    outline: 3px solid #d9d9d9;
    background-color: white;
    border-radius: 10px;
}

header .search-box input[type="submit"] {
    cursor: pointer;
    font-size: 0.35em;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: -1%;
    transform: translate(0, -50%);
    padding: 2% 5%;
    border: 3px solid var(--purple);
    color: white;
    background-color: var(--purple);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

header .search-box input[type="submit"]:hover {
    border: 3px solid var(--hover-purple);
    background-color: var(--hover-purple);
}


.hero-container .searched-foods {
    display: grid;
    place-items: center;
    position: absolute;
    top: 110%;
    left: 0;
    height: fit-content;
    background-color: #f9ecf3;
    border-radius: 0.65rem;
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.hero-container .searched-foods .loader {
    padding: 0.5rem;
}
.hero-container .searched-foods li {
    width: 95%;
    display: flex;
    align-items: center;
    padding: 0.4rem 1rem;
    border-bottom: 1px solid var(--purple);
    line-height: 1.2;
    font-size: 0.3em;
    color: black;
    text-align: left;
    list-style: none;
    cursor: pointer;
    height: 2rem;
}
.hero-container .searched-foods li:hover {
    background-color: #ecc6db;
}
.hero-container .searched-foods img {
    width: 8%;
    height: 100%;
    border-radius: 0.3rem;
    filter: contrast(105%) brightness(105%);
    box-shadow: 0px 0px 2px 2px #f2f2f2;
}
.hero-container .searched-foods .not-found {
    width: 30%;
}
.hero-container .searched-foods .name {
    font-weight: 500;
}
.hero-container .searched-foods .name span {
    color: var(--yellow);
    font-weight: 600;
}


header .hero-container button {
    margin-top: 3rem;
    padding: 0.8rem 2.5em;
    font-size: 0.35em;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    color: white;
    background-color: var(--yellow);
}

header .hero-container button:hover {
    color: white;
    background-color: var(--hover-yellow);
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .wave {
        top: -6%;
    }

    .wave .circle {
        top: -8%;
    }

    .wave img {
        top: 70%;
    }

    header .hero-container .search-box {
        margin-top: 2rem;
    }

    header .hero-container button {
        margin-top: 2rem;
    }

    header .search-box input[type="text"] {
        border-radius: 7px;
        outline: 2px solid #d9d9d9;
    }

    header .search-box input[type="submit"] {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        border: 2px solid var(--purple);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    header {
        height: 60vw;
    }

    header .hero-container .search-box {
        margin-top: 1.5rem;
    }

    header .hero-container button {
        margin-top: 1.5rem;
    }

    header .search-box input[type="text"] {
        border-radius: 5px;
    }

    header .search-box input[type="submit"] {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 65vw;
    }

    .wave {
        top: -5.5%;
        width: 90%;
    }

    .wave .circle {
        top: -7%;
        left: -33%;
        width: 55vw;
        height: 55vw;
    }

    .wave img {
        top: 53%;
        left: -2%;
        width: 41vw;
        height: 41vw;
    }

    header .hero-container {
        width: 50%;
        right: 0;
    }

    header .hero-container button {
        margin-top: 1rem;
        padding: 0.6rem 2em;
    }
}